body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.capstone{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.flat-stone{
  width: 90px;
  height: 90px;
}

.stand-stone{
  width: 90px;
  height: 30px;
}

.black-stone{
  background-color: black;
  border: solid 2px brown;
}

.white-stone{
  background-color: white;
  border: solid 2px limegreen;
}

.black-capstone{
  background-color: brown;
  border: solid 2px black;
}

.white-capstone{
  background-color: limegreen;
  border: 2px solid white;
}

.board-column:hover{
  background-color: #5DE23C;
  box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}
.atas{
  height:80px;
  
}
.judul{
  height:80px;
  background-color: #3776A1;
  text-align: center;
  color: #55E2E9;
  font-weight: bolder ;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -5px;
}
.tombres{
  margin-left: 850px;
  height:60px;
  width: 120px;
  text-align: right;
  margin-bottom: 10px;
  background-color: black;
}
.restext1{
  padding-top: 5px;
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.restext{
  padding-top: 5px;
  font-size: 28px;
  font-weight: bold;
  color: #03045E;
}

.tomblev{
  margin-left: 40px;
  height:60px;
  width: 120px;
  text-align: right;
  margin-top: 7px;
}
.judul2{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color:white;
  padding-top: 20px;
}
.levels{
  background-color: #3776A1;
  height:90px;
}
.leveltext{
  padding-top: 10px;
  text-align: center;
}

.levtext{
  padding-top: 5px;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.judul1{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color:black;
  padding-top: 20px;
}

.atass{
  background-color: #5DE23C;
}
.backgroundcolor{
  background-size: cover;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../public/background.jpg");

}
.backgroundcolor2{
  background-color: #6EB1D6;
}
.putih{
  margin-left:-10px;
}
.batasbawah{
  height:50px;
}
.board-code {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  
  justify-content: center;
  font-weight: bold;
  color:red;
}

.board-code-kiri {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color:black;
}

.board-column {
  position: relative;
}

.textc{
  font-size: 40px;
  color:white;
}

.board-code,
.position-absolute {
  position: absolute;
}
.margg{
  padding-top: 25px;
  padding-right: 15px;
}
.whitetext{
  color:white
}

.margg1{
  padding-top: 25px;
  text-align: center;
}
.warna{
  background-color: #F6E3BA;
  border:black 1px solid;
}

.tombolcancel{
  width: 200px;
  height: 65px;
  font-size: 50px;
  background-color: red;
  margin-bottom: 25px;
  margin-left: 200px;
}

.tulisan{
  margin-left: 460px;
}
.kirian{
  margin-right: 7px;
}
.jarakabjad{
  margin-left: -10px;
}
.jaraks{
  margin-bottom: -20px;
}
.brownbg{
  background-color: #987554;
}
.roundedl{
  border-radius: 15px;
}
.codecolor{
  font-weight: 800;
}
