body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.capstone{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.flat-stone{
  width: 90px;
  height: 90px;
}

.stand-stone{
  width: 90px;
  height: 30px;
}

.black-stone{
  background-color: black;
  border: solid 2px brown;
}

.white-stone{
  background-color: white;
  border: solid 2px limegreen;
}

.black-capstone{
  background-color: brown;
  border: solid 2px black;
}

.white-capstone{
  background-color: limegreen;
  border: 2px solid white;
}

.board-column:hover{
  background-color: #5DE23C;
  box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}